<div class="backdrop" id="{{backdropStem + name}}" (click)="close()">
    <div class="container" id="{{stem + name}}" (click)="nopAction($event)">
        <div class="row">
            <div class="card grey lighten-5">
                <div class="card-content blue-grey-text text-darken-4">
                    <div class="row" *ngFor="let x of dropdown">
                        <a (click)="close(); x.action()">{{x.name}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
