<nav class="brown darken-3 nav_header">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="flex_container">

                    <div class="flex_item">
                        <a routerLink="/home">
                            Nepress
                        </a>
                    </div>

                    <div class="flex_item">
                        <div class="flex_container">
                            <div class="flex_item mobile">
                                <div class="title_link" *ngIf="!isLoggedIn()" routerLinkActive="brown darken-4" routerLink="/login"><a>Login</a></div>
                            </div>
                            <div class="flex_item no_select">
                                <div class="title_link" *ngIf="isLoggedIn()"><a>{{getUsername()}}</a></div>
                            </div>
                            <div class="flex_item no_select">
                                <div class="title_link" *ngIf="!isLoggedIn()" routerLinkActive="brown darken-4" routerLink="/register"><a>Register</a></div>
                            </div>
                            <div class="flex_item no_select">
                                <div class="title_link" *ngIf="isLoggedIn()" routerLinkActive="brown darken-4" routerLink="/write"><a>Write</a></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</nav>