<nav class="brown darken-3" role="navigation">
    <div class="nav-wrapper container">

        <a id="logo-container" class="brand-logo" routerLink="/home">
            Nepress
        </a>

        <ul id="nav-mobile" class="right .hide-on-small-only">
            <li routerLinkActive="active" routerLink="/login"><a>Login</a></li>
            <li routerLinkActive="active" routerLink="/register"><a>Register</a></li>
            <li routerLinkActive="active" routerLink="/write"><a>Write</a></li>
        </ul>

    </div>
</nav>