<div class="container">

    <div class="row">
        <div class="card grey lighten-5">
            <div class="card-content blue-grey-text text-darken-4">
                <span class="card-title">Home</span>
            </div>
        </div>
    </div>

    <div class="row" *ngFor="let x of posts">
        <div class="card grey lighten-5">
            <div class="card-content blue-grey-text text-darken-4">
                <span class="card-title">{{x.title}}</span>
                <p>{{x.date.toDateString()}}</p>
                <div class="row">
                    <div class="col s12">
                        <div [innerHTML]="x.text"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card grey lighten-5">
            <div class="card-content blue-grey-text text-darken-4">
                <div class="row">
                    <div class="input-field col s6">
                        <input placeholder="Page" id="home_page_input" type="number" [(ngModel)]="page" (keyup)="pageKeyUp($event)">
                    </div>
                </div>
                <div class="row">
                    <div class="col s6">
                        <a class="waves-effect waves-light btn blue-grey lighten-2" (click)="previousPage()">
                            Previous
                        </a>
                    </div>
                    <div class="col s6">
                        <a class="waves-effect waves-light btn blue-grey lighten-2" (click)="nextPage()">
                            Next
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
