<div class="container">

    <div class="row">

        <div class="card grey lighten-5">

            <div class="card-content blue-grey-text text-darken-4">

                <span class="card-title">Register</span>

                <div class="row" (keyup)="registerKeyUp($event)">

                    <input id="register_username_input" type="text" [(ngModel)]="username">
                    <label for="register_username_input">Username</label>

                    <input id="register_password_input" type="password" [(ngModel)]="password">
                    <label for="register_password_input">Password</label>

                </div>

            </div>

        </div>

    </div>

</div>
