<div class="container">

    <div class="row">

        <div class="card grey lighten-5">

            <div class="card-content blue-grey-text text-darken-4">

                <span class="card-title">New Post</span>

                <p>Did you know that you can use @[youtube](xxxxxxxxxx) to insert YouTube videos?</p>

                <div class="row">

                    <input id="write_title_input" type="text" [(ngModel)]="title">
                    <label for="write_title_input">Title</label>

                </div>

                <div class="row">

                    <div class="input-field col s12">
                        <textarea id="write_text_input" class="materialize-textarea" [(ngModel)]="text"></textarea>
                        <label for="write_text_input">Content</label>
                    </div>

                </div>

                <div class="card-action">
                    <a class="waves-effect waves-light btn blue-grey lighten-2" (click)="submit()">
                        Submit
                    </a>
                </div>

            </div>

        </div>

    </div>

</div>
