<main class="demo-main mdl-layout__content full-width">
    <div class="demo-container mdl-grid full-width">
        <div class="mdl-cell mdl-cell--2-col"></div>
        <div class="demo-content mdl-shadow--4dp contentmdl-cell mdl-cell--8-col padding-20">

            <div class="mdl-cell">
                <h3>Write post</h3>
            </div>

            <div class="mdl-cell mdl-cell--12-col">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-width">
                    <input class="mdl-textfield__input title_text" type="text" placeholder="title" [(ngModel)]="title">
                </div>
            </div>

            <div class="mdl-cell mdl-cell--12-col">
                <div class="mdl-textfield mdl-js-textfield full-width">
                    <textarea class="mdl-textfield__input textarea_size" type="text" rows= "3" [(ngModel)]="text"></textarea>
                </div>
            </div>

            

            <div class="mdl-cell">
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" (click)="submit()">
                    Submit
                </button>
            </div>

        </div>
    </div>

</main>